<div class="container mb-4">
  <h2 class="my-3">Edit Post</h2>
  <form id ="editPost">
    <div>
      <label>Title:</label><br>
      <input class="input" id="postTitle" type="text" value="{{post.title}}" />
    </div>
    <div>
      <label>Entry:</label><br>
      <textarea class="input w-50" id="postText" type="text">{{post.content}}</textarea>
    </div>
    <div id="postID" type="text" value={{post.id}}>
      <label for="postid">Post ID: {{post.id}}</label>
    </div>
    <button type="submit" class="btn btn-info">Save</button>
    <button type="button" class="btn btn-info" id="deleteBtn">Delete</button>
  </form>
</div>


<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>