{{#each posts as |post|}}

    <div class="card border-dark mb-3" style="max-width: 100%;">
        <div class="card-header">{{title}}</div>
        <div class="card-body">
            <h5 class="card-title">Date Created: {{format_date postDate}}</h5>
            <a href="/post/{{id}}" class="btn btn-info py-1">View Post</a>
        </div>
    </div>

{{/each}}